.section {
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 0 5px #ddd;
    
}

.section__body {
    padding: 20px;
}

.section__title {
    font-size: 20px;
    margin: 0;
}

.section__header {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 24px;
    justify-content: space-between;
    align-items: center;
}


@media(max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

